body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 30vh;
    background-color: rgb(228, 201, 0);
}

.card {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 40vh;
    width: 40vw;
    border-radius: 0.5rem;
    border: 5px solid black;
    box-shadow: 0 4px 0 0 black;
}

input {
    font-family: "Helvetica", sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    width: 30vw;
    text-align: center;
    border: 2.5px solid rgb(208, 208, 208);
    border-radius: 0.5rem;
    background-color: rgb(243, 243, 243);
}

h1 {
    color: black;
    font-family: "Helvetica", sans-serif;
}